mat-card {
  overflow: hidden;
  height: 100%;
  cursor: pointer;
}

.no-meta {
  font-style: italic;
  opacity: 0.5;
}

.file-icon {
  width: 100%;
  height: 50%;
}

.file-name {
  opacity: 0.6;
  text-align: center;
  margin-bottom: 0;
  width: 100%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* TODO add hover when ellipsis */
}

.name-and-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.ear {
  transition: 0.025s linear;
  top: 0;
  right: 0;
  position: absolute;
  width: 100px;
  height: 100px;
  text-align: center;
  transform: rotate(225deg) translate(0, 9em) scale(0.8);
  font-size: 0.5em;
  opacity: 0.9;

  background-color: lightgray;
}

.ear:hover {
  opacity: 1;
  transform: rotate(225deg) translate(0, 9em) scale(1);
}

.ear.has-metadata {
  background-color: lightgreen;
}

.ear mat-icon {
  color: #444;
  padding-top: 0.25em;
  font-size: 3em;
}
