<mat-grid-list cols="4" gutterSize="1em">
  <mat-grid-tile
    *ngFor="let child of dreeChildren$ | async"
    [class.directory]="child.type === 'directory'"
    [class.file]="child.type === 'file'"
    (click)="navigateTo(child)"
  >
    <div style="width: 100%;">
      <p>
        {{ child.type }}
      </p>
      <p>{{ child.name }}</p>
      <p>{{ child.hash }}</p>
      <button
        *ngIf="child.type === 'file' && !child.metadata"
        (click)="addMetadata($event, child)"
      >
        Add metadata
      </button>
      <button *ngIf="child.metadata" (click)="editMetadata($event, child)">
        Edit metadata
      </button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<pre>

  {{ fileSystemQuery.dree$ | async | json }}
</pre>
