:host ::ng-deep {
  .grid-tile-wrap {
    height: 95%;
    width: 95%;
  }
}

.search-inputs {
  width: 50%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.search-inputs .search-button {
  display: flex;
  justify-content: flex-end;
}

.no-results {
  text-align: center;
  margin-top: 2em;
}
