:host ::ng-deep {
  .grid-tile-wrap {
    height: 95%;
    width: 95%;
  }
}

.search-inputs {
  width: 50%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.search-inputs .search-button {
  display: flex;
  justify-content: flex-end;
}

.no-results {
  text-align: center;
  margin-top: 2em;
}

.result-group {
  margin: 1em;
}

.result-header {
  .path {
    font-size: 1.5em;
    color: #999;
    display: inline;
    font-style: italic;
  }

  mat-icon {
    margin-left: 0.5em;
    color: #999;
    cursor: pointer;
  }

  mat-icon:hover {
    color: initial;
  }
}
