:host ::ng-deep {
  p-editor {
    height: 95%;
    width: 95%;

    .ui-editor-container {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: auto;

      .ui-editor-content {
        flex-grow: 1;
        height: 0;
        font-size: 1.5em;
      }
    }
  }
}

app-file-card {
  height: 95%;
  width: 95%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
}

.actions button {
  margin-left: 1em;
  font-weight: 600;
}
