<mat-grid-list cols="3">
  <mat-grid-tile>
    <app-file-card
      [dreeNode]="dreeNode"
      [mode]="'details-view'"
    ></app-file-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <p-editor
      [(ngModel)]="metadataContent"
      [style]="{ height: '300px' }"
    ></p-editor>
  </mat-grid-tile>
</mat-grid-list>
<div class="actions">
  <button mat-raised-button color="warn" (click)="onCancel()">Cancelar</button>
  <button
    mat-raised-button
    class="green-button"
    color="primary"
    (click)="onSave()"
  >
    Salvar
  </button>
</div>
