<mat-toolbar class="action-toolbar">
  <div class="path">
    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="Adicione uma pasta"
        [ngModel]="currentRoute | async"
        (blur)="onPathBlur($event)"
        (keyup)="onKeyUp($event)"
      />
    </mat-form-field>
  </div>

  <div class="controls">
    <button (click)="goBack()" mat-mini-fab color="white">
      <mat-icon>keyboard_backspace </mat-icon>
    </button>
    <button (click)="reload()" mat-mini-fab color="white">
      <mat-icon>refresh </mat-icon>
    </button>
  </div>
</mat-toolbar>
